td {text-align: center; border: thin solid black; padding: 2px;}
/* Color Gradient */
/*.mastery10 {background-color: #FFB880;}
.mastery20 {background-color: #FF7F00;}
.mastery30 {background-color: #FFFF00;}
.mastery40 {background-color: #80B800;}
.mastery50 {background-color: #008000;}
.mastery60 {background-color: #008888;}
.mastery70 {background-color: #0000FF;}
.mastery80 {background-color: #800080;}
.mastery90 {background-color: #B50040;}
.mastery100 {background-color: #FF0000;}*/
/* Red Coloring */
/*.mastery10 {background-color: #FFDEDE;}
.mastery20 {background-color: #FFC5C5;}
.mastery30 {background-color: #FFABAB;}
.mastery40 {background-color: #FF9292;}
.mastery50 {background-color: #FF7676;}
.mastery60 {background-color: #FF6868;}
.mastery70 {background-color: #FF4D4D;}
.mastery80 {background-color: #FF3434;}
.mastery90 {background-color: #FF1919;}*/

.mastery10, .mastery10 input {background-color: #FFC5C5;}
.mastery20, .mastery20 input {background-color: #FF9292;}
.mastery30, .mastery30 input {background-color: #FF6868;}
.mastery40, .mastery40 input {background-color: #FF3434;}
.mastery50, .mastery50 input {background-color: #FF0000;}
.mastery60, .mastery60 input {background-color: #C50000;}
.mastery70, .mastery70 input {background-color: #920000; color: #ABABAB;}
.mastery80, .mastery80 input {background-color: #680000; color: #C5C5C5;}
.mastery90, .mastery90 input {background-color: #340000; color: #DEDEDE;}
.mastery100, .mastery100 input {background-color: #000000; color: white;}
.no_job, .job_title {background-color: gray;}
#job_level_table input {width: 20px; border: none; text-align: center; background-color: transparent;}
