%html
	%head
		%title="Final Fantasy Tactics"
		= stylesheet_link_tag "reset", "layout", "jquery-theme/jquery-ui-1.7.2.custom"
	%body
		#main
			= yield
		= javascript_include_tag "jquery-1.3.2", "jquery-ui-1.7.2.custom.min", "character_updater"